<html>
<!-- https://www.frankmitchell.org/2015/01/fisher-yates/ for the shuffling algorithm -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-desktop.min.css" />
    <link rel="stylesheet" href="main.css" />
    <script src="dist/js/angular.min.js">
    </script>
    <script src="dist/js/angular-route.min.js">
    </script>
    <script src="dist/js/angular-animate.js"></script>
    <script src="dist/js/mobile-angular-ui.min.js">
    </script>
    <script src="words.js"></script>
    <script>
        theScope = {};
        function shuffle(array) {
            var i = 0
                , j = 0
                , temp = null

            for (i = array.length - 1; i > 0; i -= 1) {
                j = Math.floor(Math.random() * (i + 1))
                temp = array[i]
                array[i] = array[j]
                array[j] = temp
            }
        }
        angular.module('myApp', ['mobile-angular-ui', 'ngAnimate']).controller("myCtrl", function ($scope, $timeout) {
            gameJSON = localStorage.getItem("gameState") || '{"initialized": false}';
            oGame =  JSON.parse(gameJSON);

            // fix broken links to wrong tiles
            oGame.wrongs = oGame.wrongs || [];
            oGame.wrongs.forEach(function(e, i, a){
                var linktiles = oGame.tiles.filter(function(item) { return item['$$hashKey'] == e['$$hashKey'] } );
                oGame.wrongs[i] = linktiles[0] || e;
            });

            $scope.game =  oGame;
            theScope = $scope;
            sWins = localStorage.getItem("pastWins") || "[]";
            $scope.game.wins = JSON.parse(sWins);
            $scope.yesPoints = 100;
            $scope.noPoints = 25;
            $scope.game.gamesWon = $scope.game.gamesWon || 0;

            var classes = {
                default: "btn btn-lg btn-primary"
                , correct: "btn btn-lg btn-success"
                , incorrect: "btn btn-lg btn-danger"
                , hidden: "hidden"
            };

            $scope.already = function(tile) {
                tile.letter="!!";
                $scope.game.userMessage = "You picked that already! Try again.";
                setTimeout(function(){
                    tile.letter=tile.l;
                    $scope.$apply();
                }, 500);
            };
            $scope.nil = function(tile) {};
            $scope.mainHandler = function(tile) {
                // replace the handler so it won't run again
                tile.click = 'already';
                if (tile.letter == $scope.game.aAnswer[0])
                {
                    // turn green!
                    tile.class = classes.correct;
                    $scope.game.score += $scope.yesPoints;
                    // from now on look for the next letter of the word
                    $scope.game.aAnswer.shift();

                    // revert the "wrongs" from red and empty the array of them
                    $scope.game.wrongs.forEach(function(e, i, a){
                        e.class = classes.default;
                        e.click = 'mainHandler';
                    });
                    $scope.game.wrongs = [];
                    if ($scope.game.aAnswer.length < 1)
                    {
                        // Game finished!!
                        if (($scope.game.score > 0))
                        {
                            $scope.game.userMessage =  "Well done — You win!";
                            $scope.game.gamesWon += 1;
                        }
                        else
                        {
                            $scope.game.userMessage = "Better score next time?";
                        }
                        $scope.game.rights.forEach(function(e, i, a){
                            e.click = 'nil';
                        });
                        $scope.game.tiles[0].click = $scope.nil;
                        $scope.game.wins.push($scope.game.rawAnswer);
                        localStorage.setItem("pastWins", JSON.stringify($scope.game.wins));
                        // flip the initialization bit so that a returning user gets a new game
                        $scope.game.initialized = false;
                    }
                    else
                    {
                        $scope.game.userMessage = "Great! What's the next letter?";
                    }
                    // wait and then move the tile to the beginning
                    $timeout(function(){
                        $scope.game.tiles.splice($scope.game.tiles.indexOf(tile), 1);
                        $scope.game.rights.push(tile);
                        localStorage.setItem('gameState', JSON.stringify($scope.game));
                    }, 500);
                }
                else
                {
                    tile.class = classes.incorrect;
                    $scope.game.userMessage = "Whoops! Not that letter.";
                    $scope.game.wrongs.push(tile);
                    $scope.game.wrong++;
                    $scope.game.score -= 25 * $scope.game.wrongs.length;
                    localStorage.setItem('gameState', JSON.stringify($scope.game));
                }
            };
            $scope.handler = function(tile){
                $scope[tile.click](tile);
            }
            $scope.newgame = function () {
                // filter for words not yet won
                var validList = wordlist.filter(function(item){
                    return ($scope.game.wins.indexOf(item) == -1);
                });
                // if empty, reset
                if (validList.length == 0)
                {
                    validList = wordlist;
                    localStorage.setItem("pastWins", "[]");
                    $scope.game.wins = [];
                }
                var thisWord = validList[Math.floor(Math.random() * validList.length)];
                var word = thisWord.toUpperCase();
                var letters = word.split('');
                $scope.game.score = 0;
                $scope.game.wrong = 0;
                $scope.game.wrongs = [];
                $scope.game.rawAnswer = thisWord;
                $scope.game.answer = word;
                $scope.game.userMessage = "Guess the first letter!";
                $scope.game.aAnswer = word.split('');
                $scope.game.rights.forEach(function(e, i, a){
                    e.class = classes.hidden;
                });
                $scope.game.tiles.forEach(function(e, i, a){
                    e.class = classes.hidden;
                });
                $scope.game.rights.forEach(function(e, i, a){
                    e = {letter:"hidden text is hidden", class: classes.hidden };
                });
                $scope.game.tiles.forEach(function(e, i, a){
                    e = {letter:"hidden text is hidden", class: classes.hidden };
                });
                shuffle(letters);

                // had to do some silly timeout-setting here
                // to ensure old tiles are all gone before new ones go in
                var populate = function(){
                    $scope.game.tiles = [];
                    letters.forEach(function (element, index, array) {
                        $scope.game.tiles.push({
                            letter: element, class: classes.default, click: 'mainHandler', l: element
                        });
                    });
                    $scope.$apply();
                    localStorage.setItem('gameState', JSON.stringify($scope.game));
                };

                var clearout = function(){
                    $scope.game.rights = [];
                    $scope.$apply();
                    $timeout(populate);
                };
                $timeout(clearout, 250, false);
            };
            if (!$scope.game.initialized)
            {
                $scope.game.wrong = 0;
                $scope.game.tiles = [];
                $scope.game.rights = [];
                $scope.game.initialized = true;
                $scope.newgame();
            }
        });
    </script>
</head>

<body ng-app="myApp" ng-controller="myCtrl" class="scrollable">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h1>SCRAM!</h1>
                </div>
                <div class="col-xs-6">
                    <h3>Wins: {{game.gamesWon}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p><a class="btn btn-info btn-lg" ng-click="newgame()">&nbsp;New Game&nbsp;</a></p>
                </div>
                <div class="col-xs-6">
                    <h3>Score: {{game.score}}</h3>
                </div>
            </div>
            <div class="row">
                <h3 class="col-xs-12 ">Wrong guesses: {{game.wrong}}</h3>
                <p>&nbsp;</p>
                <h4 class="col-xs-12 ">{{game.userMessage}}</h3>
            </div>
            <div class="row no-gutter text-center">
                <div class="col-xs-2 repeated-item" ng-repeat="tile in game.rights">
                    <a class="{{tile.class}}" ng-click="handler(tile)">{{tile.letter}}</a>
                </div>
            </div>
            <div class="row no-gutter text-center">
                <div class="col-xs-2 repeated-item" ng-repeat="tile in game.tiles">
                    <a class="{{tile.class}}" ng-click="handler(tile)">{{tile.letter}}</a>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
