<html>
<!-- https://www.frankmitchell.org/2015/01/fisher-yates/ for the shuffling algorithm -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-desktop.min.css" />
    <link rel="stylesheet" href="main.css" />
    <script src="dist/js/angular.min.js">
    </script>
    <script src="dist/js/angular-route.min.js">
    </script>
    <script src="dist/js/angular-animate.js"></script>
    <script src="dist/js/mobile-angular-ui.min.js">
    </script>
    <script src="words.js"></script>
    <script>
        theScope = {};
        function shuffle(array) {
            var i = 0
                , j = 0
                , temp = null

            for (i = array.length - 1; i > 0; i -= 1) {
                j = Math.floor(Math.random() * (i + 1))
                temp = array[i]
                array[i] = array[j]
                array[j] = temp
            }
        }
        angular.module('myApp', ['mobile-angular-ui', 'ngAnimate']).controller("myCtrl", function ($scope, $timeout) {
            theScope = $scope;
            $scope.wrong = 0;
            $scope.tiles = [];
            $scope.rights = [];
            var classes = {
                default: "btn btn-lg btn-primary"
                , correct: "btn btn-lg btn-success"
                , incorrect: "btn btn-lg btn-danger"
                , hidden: "hidden"
            };
            $scope.already = function() {
                var tile = this;
                tile.letter="!!";
                $scope.userMessage = "You picked that already! Try again.";
                setTimeout(function(){
                    tile.letter=tile.l;
                    $scope.$apply();
                }, 500);
            };
            $scope.nil = function() {};
            $scope.handler = function() {
                // replace the handler so it won't run again
                this.click = $scope.already;
                if (this.letter == $scope.aAnswer[0])
                {
                    // turn green!
                    this.class = classes.correct;
                    // from now on look for the next letter of the word
                    $scope.aAnswer.shift();

                    // revert the "wrongs" from red and empty the array of them
                    $scope.wrongs.forEach(function(e, i, a){
                        e.class = classes.default;
                        e.click = $scope.handler;
                    });
                    $scope.wrongs = [];
                    var tile = this;
                    if ($scope.aAnswer.length < 1)
                    {
                        $scope.userMessage = "Well done — You win!";
                        $scope.rights.forEach(function(e, i, a){
                            e.click = $scope.nil;
                        });
                        $scope.tiles[0].click = $scope.nil;
                    }
                    else
                    {
                        $scope.userMessage = "Great! What's the next letter?";
                    }
                    // wait and then move the tile to the beginning
                    $timeout(function(){
                        $scope.tiles.splice($scope.tiles.indexOf(tile), 1);
                        $scope.rights.push(tile);
                    }, 500);
                }
                else
                {
                    this.class = classes.incorrect;
                    $scope.userMessage = "Whoops! Not that letter.";
                    $scope.wrongs.push(this);
                    $scope.wrong++;
                }
            };
            $scope.newgame = function () {
                var word = wordlist[Math.floor(Math.random() * wordlist.length)].toUpperCase();
                var letters = word.split('');
                $scope.wrong = 0;
                $scope.wrongs = [];
                $scope.answer = word;
                $scope.userMessage = "Guess the first letter!";
                $scope.aAnswer = word.split('');
                $scope.rights.forEach(function(e, i, a){
                    e.class = classes.hidden;
                });
                $scope.tiles.forEach(function(e, i, a){
                    e.class = classes.hidden;
                });
                $scope.rights.forEach(function(e, i, a){
                    e = {letter:"hidden text is hidden", class: classes.hidden };
                });
                $scope.tiles.forEach(function(e, i, a){
                    e = {letter:"hidden text is hidden", class: classes.hidden };
                });
                shuffle(letters);

                // had to do some silly timeout-setting here
                // to ensure old tiles are all gone before new ones go in
                var populate = function(){
                    $scope.tiles = [];
                    letters.forEach(function (element, index, array) {
                        $scope.tiles.push({
                            letter: element, class: classes.default, click: $scope.handler, l: element
                        });
                    });
                    $scope.$apply();
                };

                var clearout = function(){
                    $scope.rights = [];
                    $scope.$apply();
                    $timeout(populate);
                };
                $timeout(clearout, 250, false);
            };
            $scope.newgame();
        });
    </script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Word Game!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p><a class="btn btn-info btn-lg" ng-click="newgame()">&nbsp;New Game&nbsp;</a></p>
                </div>
            </div>
            <div class="row">
                <h3 class="col-xs-12 ">Wrong guesses: {{wrong}}</h3>
                <p>&nbsp;</p>
                <h4 class="col-xs-12 ">{{userMessage}}</h3>
                <p>&nbsp;</p>
            </div>
            <div class="row no-gutter text-center">
                <div class="col-xs-2 repeated-item" ng-repeat="tile in rights">
                    <a class="{{tile.class}}" ng-click="tile.click()">{{tile.letter}}</a>
                </div>
            </div>
            <div class="row no-gutter text-center">
                <div class="col-xs-2 repeated-item" ng-repeat="tile in tiles">
                    <a class="{{tile.class}}" ng-click="tile.click()">{{tile.letter}}</a>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
