<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-desktop.min.css" />
    <script src="dist/js/angular.min.js">
    </script>
    <script src="dist/js/angular-route.min.js">
    </script>
    <script src="dist/js/angular-animate.js"></script>
    <script src="dist/js/mobile-angular-ui.min.js">
    </script>
    <script src="words.js"></script>
    <script>
        theScope = {};

        angular.module('myApp', ['mobile-angular-ui']).controller("myCtrl", function ($scope, $timeout) {
          theScope = $scope;
          $scope.alerts = ['Larry', 'Curly', 'Moe'];
          $scope.addMessage = function(){
              $scope.alerts.push($scope.formMessage);
              $scope.formMessage = "";
          }
        });
    </script>
</head>

<body ng-app="myApp" ng-controller="myCtrl" class="scrollable">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Hello!</h1>
                    <div class="alert alert-info" ng-repeat="alert in alerts">{{alert}}</div>
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="msg">Message:</label>
                        <div class="col-sm-10">
                          <input class="form-control" id="msg" placeholder="Enter message" ng-model="formMessage">
                        </div>
                      </div>
                      <div class="form-group"> 
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-default" ng-click="addMessage()">Submit</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>


        </div>
    </div>


</body>

</html>
